footer.footer {
    background-color: royalblue;
    padding-bottom: 3rem;
}

div.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a.nav-item {
    margin-left: 5rem;
    margin-right: 5rem;
    color: white;
}

a.nav-item:hover {
    border-bottom: 1px solid white;
} 

div.nav-align {
    display: flex;
}

div.title {
    margin: auto;
}

@media (max-width: 1024px) {
    div.title {
        margin: 0;
    }

    div.navbar-menu {
        display: none
    }

    div.is-active {
        display: block
    }
}